/* Variables */
/* Variables */
/* Mixins */
/* General */
/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

p {
  line-height: 1.5; }

a, a:hover, a:visited {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 90%;
  margin: 0 auto; }

/* Page header */
/* Page header */
header {
  background-image: url("../images/banner3.jpg");
  background-size: cover;
  padding: 15% 3% 5% 3%; }
  header p {
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 5%; }
  header .header-btn {
    display: block;
    margin: 0 auto;
    width: 35%;
    border-radius: 30px;
    padding: 2.5%;
    background-color: #1d6fb2;
    text-align: center;
    font-size: 0.75rem;
    cursor: pointer; }
    header .header-btn:hover {
      background-color: #fd9727; }
    header .header-btn a {
      color: white;
      font-weight: bold;
      letter-spacing: 1px; }

/* Logo */
/* Logo */
.logo {
  text-align: center;
  color: #777;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px; }
  .logo .build {
    color: #fd9727;
    padding: 3px 0 3px 10px;
    border: 3px solid #777;
    border-right: 0; }

/* Main navigation */
/* Main navigation */
.main-nav {
  width: 90%;
  margin: 30px auto; }
  .main-nav ul {
    list-style-type: none;
    background-color: #81c3f5;
    text-align: center; }
    .main-nav ul li {
      padding: 5px 0; }
      .main-nav ul li:hover {
        background-color: #1d6fb2; }
      .main-nav ul li a {
        display: block;
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 10px; }

/* Sections: general */
section {
  text-align: center;
  margin: 30px 0;
  /* Separator */
  /* Separator */ }
  section h3 {
    font-size: 2rem;
    font-weight: 500; }
  section h4 {
    color: #81c3f5;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 15px 0; }
  section separator div {
    display: inline-block;
    margin: 15px 0; }
  section separator .left-line {
    border-bottom: 2px solid black;
    width: 40px;
    transform: translateY(7px);
    margin-left: 25%; }
  section separator .rhomb {
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    margin: 0 5px;
    transform: rotate(45deg); }
  section separator .right-line {
    border-bottom: 2px solid black;
    width: 40px;
    transform: translateY(7px);
    margin-right: 25%; }

/* Article: general */
article {
  text-align: left;
  padding: 10px; }

/* Section: About */
.about p {
  text-align: justify;
  margin: 20px 0; }
.about img {
  margin: 20px 0; }
.about ul {
  list-style-image: url("../images/arrow_bullet.png");
  margin: 5px 20px; }
  .about ul li {
    color: #777;
    padding: 10px 0; }

/* Section: Testimonials */
.testimonials {
  padding: 5%; }
  .testimonials .comments-container {
    margin-top: 20px;
    padding: 10px; }
    .testimonials .comments-container comment {
      display: block;
      background-color: #81c3f5;
      text-align: left;
      padding: 30px 10px;
      margin-bottom: 10px; }
      .testimonials .comments-container comment .comment-header:after {
        content: " ";
        display: block;
        clear: both; }
      .testimonials .comments-container comment h5 {
        font-size: 1rem;
        letter-spacing: 1.25px;
        margin: 5px 0; }
      .testimonials .comments-container comment img {
        height: 100px;
        padding: 5px;
        border: 2px solid white;
        border-radius: 50%;
        float: left;
        margin-right: 15px; }
      .testimonials .comments-container comment .fas {
        color: white; }
    .testimonials .comments-container p {
      text-align: justify;
      color: white;
      padding: 2%; }

/* Section: Get In Touch */
.get-in-touch .contacts-container {
  margin: 35px 0; }
  .get-in-touch .contacts-container contact {
    display: block;
    color: white;
    padding: 10% 5%; }
    .get-in-touch .contacts-container contact#phone-mail {
      background-color: #3add9a; }
      .get-in-touch .contacts-container contact#phone-mail a {
        display: inline-block; }
    .get-in-touch .contacts-container contact#social-networks {
      background-color: #fc5282; }
    .get-in-touch .contacts-container contact#address {
      background-color: #376ce4; }
    .get-in-touch .contacts-container contact#house {
      background-color: #81c3f5;
      padding: 5%; }
    .get-in-touch .contacts-container contact h6 {
      font-size: 1rem;
      margin: 0 0 15px; }
    .get-in-touch .contacts-container contact img {
      height: 150px; }
    .get-in-touch .contacts-container contact a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      margin: 5px 10px; }
  .get-in-touch .contacts-container iframe {
    width: 100%;
    height: 300px; }

/* Section: Mail Us */
.mail-us input, .mail-us textarea {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 95%;
  padding: 10px;
  margin: 20px 2.5%; }
  .mail-us input[type=submit], .mail-us textarea[type=submit] {
    width: 75px;
    background-color: #fd9727;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer; }
    .mail-us input[type=submit]:hover, .mail-us textarea[type=submit]:hover {
      background-color: #81c3f5; }

/* Footer */
footer {
  width: 100%;
  background-color: #212121;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 30px 0; }
  footer ul {
    list-style-type: none;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0; }
    footer ul li {
      display: inline-block;
      padding: 0 5px; }
      footer ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold; }
  footer div {
    margin: 20px 0; }

@media only screen and (min-width: 768px) {
  header {
    padding-bottom: 15%; }
    header p {
      font-size: 2rem; }
    header .header-btn {
      font-size: 1.25rem; }

  .logo {
    position: absolute;
    text-align: left;
    top: 0px;
    color: white;
    margin-top: 10px; }
    .logo .build {
      color: #fd9727;
      padding: 3px 0 3px 10px;
      border: 3px solid white;
      border-right: 0; }

  .main-nav {
    position: absolute;
    text-align: left;
    top: 0px;
    right: 25px;
    left: 25px;
    color: #fff;
    margin-top: 10px; }
    .main-nav ul {
      background-color: transparent;
      list-style-type: none;
      text-align: right; }
      .main-nav ul li {
        display: inline-block; }

  .about:after {
    display: block;
    content: "";
    clear: both; }
  .about .first-article {
    float: left;
    width: 50%; }
  .about img {
    width: 50%; }

  .testimonials:after {
    display: block;
    content: "";
    clear: both; }
  .testimonials comment {
    width: 48%;
    float: left;
    margin-right: 2%; }

  .get-in-touch:after {
    display: block;
    content: "";
    clear: both; }
  .get-in-touch contact {
    float: left;
    width: 50%;
    height: 225px; }

  .mail-us:after {
    display: block;
    content: "";
    clear: both; }
  .mail-us input {
    float: left;
    width: 28%;
    margin-right: 3%; }
    .mail-us input:nth-of-type(3) {
      margin-right: 0; }
    .mail-us input[type=submit] {
      width: 100px; } }

/*# sourceMappingURL=style.css.map */
